<h2>All Historical Landmarks</h2>

<%@landmarks.each do |figure|%>
    <li><a href="landmarks/<%=figure.id%>"><%=figure.name%> - <%=figure.year_completed%></a></li>

<%end%><br><br>
<a class="button" href="/figured">Figures</a>
<a class="button" href="/">Home</a>
